
[v-cloak] {
    display: none;
}

.border{
    border: 1px solid red;
}
.radius10,
.list-custom .q-item--active
{
    border-radius: 10px;
}

.line-normal{
    line-height: normal;
}

.font12{
    font-size: 12px !important;
}
.font13{
    font-size: 13px !important;
}
.font14{
    font-size: 14px !important;
}

.q-field--outlined .q-field__control{
    border-radius: 10px;
}

.list-custom .q-item {
    padding: 8px 5px;
}

.bg-mygrey{
    background: #f5f5f5;
}
.text-mygrey {
  color: #f5f5f5;
}

.border-grey{    
    border: 1px solid #ddd;
}

.my-emoticon{
    vertical-align: middle;
    height: 2em;
    width: 2em;    
}

.chat-wrapper{
    width: 100%; 
    max-width: 650px;    
    margin: auto;
}

.q-uploader__list{
    min-height:auto !important;    
}

/* .chat-delete-wrapper{
    display: none;
}
.list-custom .q-item:hover .time{    
    display: none;
}
.list-custom .q-item:hover .chat-delete-wrapper{    
    display: block;
} */

.chat-half-wrap{
    max-width: 350px;
    margin: auto;
}